* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  color: #c5c5c5;
  overflow: hidden;
  margin: 0;
  border: 0;
}

form {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
}
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;

  color: #c5c5c5;
  height: 1rem;
  width: fit-content;
  resize: none;
  background: rgba(100, 100, 100, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

canvas {
  display: block;
}

h1 {
  font-weight: 700;
}

.header {
  position: absolute;
  width: fit-content;
  display: block;
  margin: 1rem;
  padding: 0.8rem;

  background: rgba(100, 100, 100, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: rgba(16, 181, 247, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  color: #c5c5c5;
  border: none;
  cursor: pointer;
}

.btn-close {
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background: rgba(204, 54, 54, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  color: #c5c5c5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.card-container {
  margin: 1rem;
  position: absolute;
  margin-top: 14rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.matrix {
  display: block;
}

.title {
  font-weight: bold;
}

.cards {
  /* From https://css.glass */
  background: rgba(100, 100, 100, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  /* background-color: #004052; */
  white-space: pre-wrap;
  padding: 1rem;
  min-height: 5rem;
  max-width: 20rem;
  max-height: 47.5rem;
  overflow: auto;
  width: fit-content;
}

/* ::-webkit-scrollbar {
  width: 8px;
} */

/* Keywords */
.keyword-declaration {
  color: #dc322f;
  font-weight: bold;
}

.keyword-control {
  color: #859900;
  font-weight: bold;
}

.keyword-error {
  color: #cb4b16;
  font-weight: bold;
}

.keyword-function {
  color: #268bd2;
  font-weight: bold;
}

.keyword-primitive {
  color: #2aa198;
  font-weight: bold;
}

.keyword-modifier {
  color: #b58900;
  font-weight: bold;
}

.keyword-loop {
  color: #6c71c4;
  font-weight: bold;
}

.keyword-async {
  color: #d33682;
  font-weight: bold;
}

.keyword-operator {
  color: #859900;
  font-weight: bold;
}

.keyword-preprocessor {
  color: #cb4b16;
  font-weight: bold;
}
